<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @vehicle.title %>
</p>

<p>
  <b>Call sign:</b>
  <%= @vehicle.call_sign %>
</p>

<p>
  <b>Color:</b>
  <%= @vehicle.color %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
